.cart-no {
    background-color: red;
    border-radius: 50%;
    color: white;
    text-align: center;
    min-height: 25px;
    min-width: 25px;
    position: absolute;
    top: -19px;
    left: 19px;
}